<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Google componentes -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link rel="stylesheet" href="style/css/StyleCss.css">
<link rel="stylesheet" href="style/css/gallery.theme.css">
<link rel="stylesheet" href="style/css/gallery.min.css">
<title>Livraria-App</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper z-depth-2">
			<a href="#" class="brand-logo">Home </a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="sass.html"><i
						class="large material-icons right">auto_stories</i>Livros</a></li>
				<li><a href="badges.html"><i
						class="large material-icons right">local_library</i>Editoras</a></li>
				<li><a href="collapsible.html"><i
						class="large material-icons right">engineering</i>Funcionarios</a></li>
				<li><a href="collapsible.html"><i
						class="large material-icons right">settings</i>Funções</a></li>
			</ul>
		</div>
	</nav>
	
	
	
	<hr />
	
	<div class="container">
		<div class="gallery autoplay items-3">
			<div id="item-1" class="control-operator"></div>
			<div id="item-2" class="control-operator"></div>
			<div id="item-3" class="control-operator"></div>

			<figure class="item">
				<h1>
					<img src="imagens/img-1.png" width="560"
					height="180"/>
				</h1>
			</figure>

			<figure class="item">
				<h1>
					<img src="imagens/img-2.png" width="560"
					height="180"/>
				</h1>
			</figure>

			<figure class="item">
				<h1>
					<img src="imagens/img-3.jfif" width="560"
					height="180"/>
				</h1>
			</figure>

			<div class="controls">
				<a href="#item-1" class="control-button">.</a> 
				<a href="#item-2" class="control-button">.</a> 
				<a href="#item-3" class="control-button">.</a>
			</div>
		</div>
	</div>
	
	<hr />
	<br />

	<div class="container">
		<div class="row">
			<div class="col s3">
				<a href="Adventure_of_Walter_and_the_Rabbits"> <img
					src="imagens/Adventure_of_Walter_and_the_Rabbits.jpg" width="150"
					height="200" alt="Adventure of Walter and the Rabbits">
				</a>

				<p>
					<a href="Adventure_of_Walter_and_the_Rabbits"
						title="Adventure of Walter and the Rabbits">Adventure of
						Walter and the Rabbits</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
			<div class="col s3">
				<a href="/produto/Abdul_of_Arabia"> <img
					src="imagens/Abdul_of_Arabia.png" width="150" height="200"
					alt="Abdul of Arabia">
				</a>

				<p>
					<a href="/produto/Abdul_of_Arabia" title="Abdul of Arabia">Abdul
						of Arabia</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
			<div class="col s3">
				<a href="/produto/About_Bunnies"> <img
					src="imagens/About_Bunnies.png" width="150" height="200"
					alt="About Bunnies">
				</a>

				<p>
					<a href="/produto/About_Bunnies" title="About Bunnies">About
						Bunnies</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
			<div class="col s3">
				<a href="/produto/Adventures_of_Sonny_Bear"> <img
					src="imagens/Adventures_of_Sonny_Bear.png" width="150" height="200"
					alt="Adventures of Sonny Bear">
				</a>

				<p>
					<a href="/produto/Adventures_of_Sonny_Bear"
						title="Adventures of Sonny Bear">Adventures of Sonny Bear</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col s3">
				<a href="/produto/Aladdin_or_The_Wonderful_Lamp.png"> <img
					src="imagens/Aladdin_or_The_Wonderful_Lamp.png" width="150"
					height="200" alt="Aladdin or The Wonderful Lamp">
				</a>

				<p>
					<a href="/produto/Aladdin_or_The_Wonderful_Lamp"
						title="Aladdin or The Wonderful Lamp">Aladdin or The Wonderful
						Lamp</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
			<div class="col s3">
				<a href="/produto/alice_in_wonderland"> <img
					src="imagens/alice_in_wonderland.png" width="150" height="200"
					alt="alice in wonderland">
				</a>

				<p>
					<a href="/produto/alice_in_wonderland" title="alice in wonderland">Alice
						in wonderland</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
			<div class="col s3">
				<a href="/produto/Cinderella_or_the_Little_Glass_Slipper"> <img
					src="imagens/Cinderella_or_the_Little_Glass_Slipper.jpg"
					width="150" height="200"
					alt="Cinderella_or_the_Little_Glass_Slipper">
				</a>

				<p>
					<a href="/produto/Cinderella_or_the_Little_Glass_Slipper"
						title="Cinderella_or_the_Little_Glass_Slipper">Cinderella or
						the Little Glass Slipper</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
			<div class="col s3">
				<a href="/produto/Beauty_Beast_and_Other_Stories"> <img
					src="imagens/Beauty_Beast_and_Other_Stories.jpg" width="150"
					height="200" alt="Beauty Beast and Other Stories">
				</a>

				<p>
					<a href="/produto/Beauty_Beast_and_Other_Stories"
						title="Beauty Beast and Other Stories">Beauty Beast and Other
						Stories</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col s3">
				<a href="/produto/Bambi"> <img src="imagens/Bambi.png"
					width="150" height="200" alt="Bambi">
				</a>

				<p>
					<a href="/produto/Bambi" title="Bambi">Bambi</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
			<div class="col s3">
				<a href="/produto/bee_who_would_not_work"> <img
					src="imagens/bee_who_would_not_work.jpg" width="150" height="200"
					alt="bee who would not work">
				</a>

				<p>
					<a href="/produto/bee_who_would_not_work"
						title="bee who would not work">bee who would not work</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
			<div class="col s3">
				<a href="/produto/Belle_River_Wings_and_Feathers"> <img
					src="imagens/Belle_River_Wings_and_Feathers.png" width="150"
					height="200" alt="Belle River Wings and Feathers">
				</a>

				<p>
					<a href="/produto/Belle_River_Wings_and_Feathers"
						title="Belle River Wings and Feathers">Belle River Wings and
						Feathers</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
			<div class="col s3">
				<a href="/produto/The_Cats_Party"> <img
					src="imagens/The_Cats_Party.png" width="150" height="200"
					alt="The Cats Party">
				</a>

				<p>
					<a href="/produto/The_Cats_Party" title="The Cats Party">The
						Cats Party</a>
				</p>

				<a class="btn anim-btn-pop btn-hover js-add-to-cart"
					data-mfp-src="#cart-message-popup-5" data-product-id="5"> <span>Download</span>
				</a>
			</div>
		</div>
	</div>

	<br />
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">LivrariaApp</h5>
					<p class="grey-text text-lighten-4">Livros em inglês para você
						e sua familia.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Livros</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Sobre
								Nós</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Fale
								Conosco</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">© 2014 Copyright Valdecir Luciano</div>
		</div>
	</footer>
</body>
</html>