<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Google componentes -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link rel="stylesheet" href="style/css/StyleCss.css">
<link rel="stylesheet" href="style/css/gallery.theme.css">
<link rel="stylesheet" href="style/css/gallery.min.css">
<title>Livraria-App</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper z-depth-2">
			<a href="#" class="brand-logo">Home </a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="sass.html"><i
						class="large material-icons right">auto_stories</i>Livros</a></li>
				<li><a href="badges.html"><i
						class="large material-icons right">local_library</i>Editoras</a></li>
				<li><a href="collapsible.html"><i
						class="large material-icons right">engineering</i>Funcionarios</a></li>
				<li><a href="collapsible.html"><i
						class="large material-icons right">settings</i>Funções</a></li>
			</ul>
		</div>
	</nav>



	<hr />
		<div class="col s3">
			<!-- Grey navigation panel -->
			<div class="card-panel grey lighten-2">
				<img src="imagens/Adventure_of_Walter_and_the_Rabbits.jpg"
					width="150" height="200" alt="Adventure of Walter and the Rabbits">

				<hr />

				<p>Livro: ...</p>
				<p>Autor: ...</p>
				<p>Ano: ...</p>
				<p>Editora: ...</p>
			</div>

		</div>

		<div class="col s9">
			<!-- Teal page content  -->
			<div class="container">
				<div class="gallery autoplay items-3">
					<div id="item-1" class="control-operator"></div>
					<div id="item-2" class="control-operator"></div>
					<div id="item-3" class="control-operator"></div>

					<figure class="item">
						<h1>
							<img
								src="http://4.bp.blogspot.com/-mmo-E6cRVe8/VqnUjRpT1sI/AAAAAAAAB2A/sZoir9KuwqI/s1600/02_Adventure_of_Walter_and_the_Rabbits.jpg"
								width="400" height="600" />
						</h1>
					</figure>

					<figure class="item">
						<h1>
							<img
								src="https://reader012.staticloud.net/reader012/html5/20190504/553046aa550346175c8b4672/bg3.png"
								width="600" height="500" />
						</h1>
					</figure>

					<figure class="item">
						<h1>
							<img
								src="http://1.bp.blogspot.com/-9iJgv1YVFvU/VqnUjqmIkGI/AAAAAAAAB2M/cGOFC2kGm6E/s1600/04_Adventure_of_Walter_and_the_Rabbits.jpg"
								width="600" height="500" />
						</h1>
					</figure>

					<div class="controls">
						<a href="#item-1" class="control-button">.</a> <a href="#item-2"
							class="control-button">.</a> <a href="#item-3"
							class="control-button">.</a>
					</div>
				</div>
			</div>
		</div>
		<br />
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">LivrariaApp</h5>
						<p class="grey-text text-lighten-4">Livros em inglês para você
							e sua familia.</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Links</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Livros</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Sobre
									Nós</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Fale
									Conosco</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">© 2014 Copyright Valdecir Luciano</div>
			</div>
		</footer>
</body>
</html>